In [1]:
import joblib
import numpy as np
from quadratic_weighted_kappa import quadratic_weighted_kappa
from quadratic_weighted_kappa_edit import onehalf_weighted_kappa, linear_weighted_kappa
from sklearn.metrics import cohen_kappa_score
import pandas as pd
import krippendorff

In [2]:
asap = joblib.load("asap5_new_adjudication")
pred_higher = joblib.load('score_model_normalized_asap5_rf_higher')
pred_mean = joblib.load('score_model_normalized_asap5_rf_mean')
pred_sum = joblib.load('score_model_normalized_asap5_rf_sum')

asap.head()

,essay,rater1_domain1,rater2_domain1,domain1_score,higher,mean,sum,check
0,"In this memoir of Narciso Rodriguez, @PERSON3'...",2,2,2,2,2.0,4,True
1,Throughout the excerpt from Home the Blueprint...,2,2,2,2,2.0,4,True
2,The mood the author created in the memoir is l...,3,3,3,3,3.0,6,True
3,The mood created by the author is showing how ...,1,0,1,1,1.0,1,True
4,The mood created in the memoir is happiness an...,2,3,3,3,3.0,5,True

In [3]:
score_higher = asap[['higher']].to_numpy().reshape(-1)
score_mean = asap[['mean']].to_numpy().reshape(-1)
score_sum = asap[['sum']].to_numpy().reshape(-1)

In [4]:
# Convert element from float to int
pred_higher = np.array(list(map(int, pred_higher)))
pred_mean = np.array(list(map(int, pred_mean)))
score_mean = np.array(list(map(int, score_mean)))
pred_sum = np.array(list(map(int, pred_sum)))

In [5]:
print("QWK higher :", quadratic_weighted_kappa(score_higher, pred_higher))
print("QWK mean :", quadratic_weighted_kappa(score_mean, pred_mean))
print("QWK sum :", quadratic_weighted_kappa(score_sum, pred_sum))

QWK higher : 0.7925673749350148
QWK mean : 0.78878619888608
QWK sum : 0.8525869915727569

In [6]:
concat_higher = np.concatenate((score_higher.reshape(1,-1),pred_higher.reshape(1,-1)), axis=0)
concat_mean = np.concatenate((score_mean.reshape(1,-1),pred_mean.reshape(1,-1)), axis=0)
concat_sum = np.concatenate((score_sum.reshape(1,-1),pred_sum.reshape(1,-1)), axis=0)

In [7]:
print("Kripppendorff's alpha higher : ", krippendorff.alpha(concat_higher))
print("Kripppendorff's alpha mean : ", krippendorff.alpha(concat_mean))
print("Kripppendorff's alpha sum : ", krippendorff.alpha(concat_sum))

Kripppendorff's alpha higher :  0.7926195455097927
Kripppendorff's alpha mean :  0.7888371039632391
Kripppendorff's alpha sum :  0.8526181095291416

In [8]:
print("1.5WK higher :", onehalf_weighted_kappa(score_higher, pred_higher))
print("1.5WK mean :", onehalf_weighted_kappa(score_mean, pred_mean))
print("1.5WK sum :", onehalf_weighted_kappa(score_sum, pred_sum))

1.5WK higher : 0.7325698802978446
1.5WK mean : 0.7276829902812036
1.5WK sum : 0.7758954307198901

In [9]:
print("LWK higher :", linear_weighted_kappa(score_higher, pred_higher))
print("LWK mean :", linear_weighted_kappa(score_mean, pred_mean))
print("LWK sum :", linear_weighted_kappa(score_sum, pred_sum))

LWK higher : 0.6666835363570445
LWK mean : 0.6611778873989671
LWK sum : 0.6020858109169465

In [10]:
print("Kappa higher :", cohen_kappa_score(score_higher, pred_higher))
print("Kappa mean :", cohen_kappa_score(score_mean, pred_mean))
print("Kappa sum :", cohen_kappa_score(score_sum, pred_sum))

Kappa higher : 0.536166068505634
Kappa mean : 0.5309391975170725
Kappa sum : 0.3361040188266079

In [11]:
from pycm import *

cm = ConfusionMatrix(score_higher, pred_higher)
print("Bangdiwala's B higher :", cm.B)
cm = ConfusionMatrix(score_mean, pred_mean)
print("Bangdiwala's B mean :", cm.B)
cm = ConfusionMatrix(score_sum, pred_sum)
print("Bangdiwala's B sum :", cm.B)

Bangdiwala's B higher : 0.4602591781199773
Bangdiwala's B mean : 0.45762452203768295
Bangdiwala's B sum : 0.20963482037110145