In [1]:
import joblib
import numpy as np
from quadratic_weighted_kappa import quadratic_weighted_kappa
from quadratic_weighted_kappa_edit import onehalf_weighted_kappa, linear_weighted_kappa
from sklearn.metrics import cohen_kappa_score
import pandas as pd
import krippendorff

In [2]:
asap = joblib.load("asap6_new_adjudication")
pred_higher = joblib.load('score_model_normalized_asap6_rf_higher')
pred_mean = joblib.load('score_model_normalized_asap6_rf_mean')
pred_sum = joblib.load('score_model_normalized_asap6_rf_sum')

asap.head()

,essay,rater1_domain1,rater2_domain1,domain1_score,higher,mean,sum,check
0,There were many obstacles that the builders fa...,2,2,2,2,2.0,4,True
1,"Him from the start, there would have been many...",3,3,3,3,3.0,6,True
2,The builders of the Empire State Building face...,3,4,4,4,4.0,7,True
3,In the passage The Mooring Mast by Marcia Amid...,1,1,1,1,1.0,2,True
4,The builders of the Empire State Building face...,3,3,3,3,3.0,6,True

In [3]:
score_higher = asap[['higher']].to_numpy().reshape(-1)
score_mean = asap[['mean']].to_numpy().reshape(-1)
score_sum = asap[['sum']].to_numpy().reshape(-1)

In [4]:
# Convert element from float to int
pred_higher = np.array(list(map(int, pred_higher)))
pred_mean = np.array(list(map(int, pred_mean)))
score_mean = np.array(list(map(int, score_mean)))
pred_sum = np.array(list(map(int, pred_sum)))

In [5]:
print("QWK higher :", quadratic_weighted_kappa(score_higher, pred_higher))
print("QWK mean :", quadratic_weighted_kappa(score_mean, pred_mean))
print("QWK sum :", quadratic_weighted_kappa(score_sum, pred_sum))

QWK higher : 0.7637026520957829
QWK mean : 0.761861888544916
QWK sum : 0.8238677685950413

In [6]:
concat_higher = np.concatenate((score_higher.reshape(1,-1),pred_higher.reshape(1,-1)), axis=0)
concat_mean = np.concatenate((score_mean.reshape(1,-1),pred_mean.reshape(1,-1)), axis=0)
concat_sum = np.concatenate((score_sum.reshape(1,-1),pred_sum.reshape(1,-1)), axis=0)

In [7]:
print("Kripppendorff's alpha higher : ", krippendorff.alpha(concat_higher))
print("Kripppendorff's alpha mean : ", krippendorff.alpha(concat_mean))
print("Kripppendorff's alpha sum : ", krippendorff.alpha(concat_sum))

Kripppendorff's alpha higher :  0.7637668046517697
Kripppendorff's alpha mean :  0.76192689140494
Kripppendorff's alpha sum :  0.8239064293665163

In [8]:
print("1.5WK higher :", onehalf_weighted_kappa(score_higher, pred_higher))
print("1.5WK mean :", onehalf_weighted_kappa(score_mean, pred_mean))
print("1.5WK sum :", onehalf_weighted_kappa(score_sum, pred_sum))

1.5WK higher : 0.6962765797144836
1.5WK mean : 0.6935518604162847
1.5WK sum : 0.7384466135883092

In [9]:
print("LWK higher :", linear_weighted_kappa(score_higher, pred_higher))
print("LWK mean :", linear_weighted_kappa(score_mean, pred_mean))
print("LWK sum :", linear_weighted_kappa(score_sum, pred_sum))

LWK higher : 0.6244637318322446
LWK mean : 0.6206797160935089
LWK sum : 0.5036766262809216

In [10]:
print("Kappa higher :", cohen_kappa_score(score_higher, pred_higher))
print("Kappa mean :", cohen_kappa_score(score_mean, pred_mean))
print("Kappa sum :", cohen_kappa_score(score_sum, pred_sum))

Kappa higher : 0.4894923977255434
Kappa mean : 0.4833115243554065
Kappa sum : 0.2943061529457889

In [11]:
from pycm import *

cm = ConfusionMatrix(score_higher, pred_higher)
print("Bangdiwala's B higher :", cm.B)
cm = ConfusionMatrix(score_mean, pred_mean)
print("Bangdiwala's B mean :", cm.B)
cm = ConfusionMatrix(score_sum, pred_sum)
print("Bangdiwala's B sum :", cm.B)

Bangdiwala's B higher : 0.4933798071987831
Bangdiwala's B mean : 0.4893244456078681
Bangdiwala's B sum : 0.2523727387112633