In [2]:
import pandas as pd
import joblib

In [3]:
asap = pd.read_csv('../training_set_rel3.tsv', sep='\t', encoding = "ISO-8859-1")
asap = asap[asap['essay_set'] == 5]
asap = asap[['essay','domain1_score']]
asap

                                                  essay  domain1_score
7081  In this memoir of Narciso Rodriguez, @PERSON3'...              2
7082  Throughout the excerpt from Home the Blueprint...              2
7083  The mood the author created in the memoir is l...              3
7084  The mood created by the author is showing how ...              1
7085  The mood created in the memoir is happiness an...              3
...                                                 ...            ...
8881  The mood of this memoir is nonfiction. The moo...              2
8882  The mood was created by the author in the memo...              0
8883  In the memoir "Narciso Rodriguez", the mood cr...              4
8884  The mood created @CAPS3 the author, Narciso Ro...              3
8885  The author created such a specific mood for th...              2

[1805 rows x 2 columns]

In [4]:
asap = asap.reset_index()
asap

      index                                              essay  domain1_score
0      7081  In this memoir of Narciso Rodriguez, @PERSON3'...              2
1      7082  Throughout the excerpt from Home the Blueprint...              2
2      7083  The mood the author created in the memoir is l...              3
3      7084  The mood created by the author is showing how ...              1
4      7085  The mood created in the memoir is happiness an...              3
...     ...                                                ...            ...
1800   8881  The mood of this memoir is nonfiction. The moo...              2
1801   8882  The mood was created by the author in the memo...              0
1802   8883  In the memoir "Narciso Rodriguez", the mood cr...              4
1803   8884  The mood created @CAPS3 the author, Narciso Ro...              3
1804   8885  The author created such a specific mood for th...              2

[1805 rows x 3 columns]

In [6]:
with open('asap5_paraphrased.txt') as f:
    s = f.readlines()

len(s)

1806

### concat paraphrase result to dataset

In [7]:
asap['essay_paraphrase'] = s[1:]
asap = asap[['essay', 'essay_paraphrase', 'domain1_score']]
asap

,essay,essay_paraphrase,domain1_score
0,"In this memoir of Narciso Rodriguez, @PERSON3'...","In this diary of Narciso Rodriguez, @PERSON3's...",2
1,Throughout the excerpt from Home the Blueprint...,"""All through the portion from Home the Bluepri...",2
2,The mood the author created in the memoir is l...,"""The temperament the creator made in the diary...",3
3,The mood created by the author is showing how ...,The mind-set made by the creator is showing ho...,1
4,The mood created in the memoir is happiness an...,"""The disposition made in the diary is joy and ...",3
...,...,...,...
1800,The mood of this memoir is nonfiction. The moo...,"""The mind-set of this journal is genuine. The ...",2
1801,The mood was created by the author in the memo...,The state of mind was made by the creator in t...,0
1802,"In the memoir ""Narciso Rodriguez"", the mood cr...","""In the diary """"Narciso Rodriguez"""", the dispo...",4
1803,"The mood created @CAPS3 the author, Narciso Ro...","""The mind-set made @CAPS3 the creator, Narciso...",3
1804,The author created such a specific mood for th...,The creator made a particularly explicit tempe...,2

### save

In [8]:
import joblib
joblib.dump(asap, 'asap5_paraphrase')

['asap5_paraphrase']