In [1]:
import pandas as pd
import numpy as np
import joblib

In [2]:
asap = pd.read_csv('training_set_rel3.tsv', sep='\t', encoding='ISO-8859-1')

In [4]:
asap1 = asap[asap['essay_set'] == 1]
asap3 = asap[asap['essay_set'] == 3]
asap4 = asap[asap['essay_set'] == 4]
asap5 = asap[asap['essay_set'] == 5]
asap6 = asap[asap['essay_set'] == 6]
asap7 = asap[asap['essay_set'] == 7]

In [5]:
asap1 = asap1[['essay','rater1_domain1','rater2_domain1','domain1_score']]
asap3 = asap3[['essay','rater1_domain1','rater2_domain1','domain1_score']]
asap4 = asap4[['essay','rater1_domain1','rater2_domain1','domain1_score']]
asap5 = asap5[['essay','rater1_domain1','rater2_domain1','domain1_score']]
asap6 = asap6[['essay','rater1_domain1','rater2_domain1','domain1_score']]
asap7 = asap7[['essay','rater1_domain1','rater2_domain1','domain1_score']]

In [8]:
my_asap = asap6
my_asap.head()

,essay,rater1_domain1,rater2_domain1,domain1_score
8886,There were many obstacles that the builders fa...,2,2,2
8887,"Him from the start, there would have been many...",3,3,3
8888,The builders of the Empire State Building face...,3,4,4
8889,In the passage The Mooring Mast by Marcia Amid...,1,1,1
8890,The builders of the Empire State Building face...,3,3,3

In [46]:
r1 = my_asap['rater1_domain1'].to_numpy()
r2 = my_asap['rater2_domain1'].to_numpy()
fs = my_asap['domain1_score'].to_numpy()

In [20]:
# Addition is for prompt 1 and 7
check = fs == np.add(r1,r2)

In [47]:
# Addition is for prompt 3,4,5, and 6
check = fs == np.maximum(r1,r2)

In [48]:
check

array([ True,  True,  True, ...,  True,  True,  True])

In [49]:
from collections import Counter
Counter(check)

Counter({True: 1745, False: 55})

In [50]:
score_higher = np.maximum(r1,r2)
score_sum = np.add(r1,r2)
score_mean = np.ceil(np.mean((r1,r2), axis=0))

In [51]:
a = my_asap
a['higher'] = score_higher
a['mean'] = score_mean
a['sum'] = score_sum
a['check'] = check
a.reset_index(inplace=True, drop=True)
a.head()

,essay,rater1_domain1,rater2_domain1,domain1_score,higher,mean,sum,check
0,There were many obstacles that the builders fa...,2,2,2,2,2.0,4,True
1,"Him from the start, there would have been many...",3,3,3,3,3.0,6,True
2,The builders of the Empire State Building face...,3,4,4,4,4.0,7,True
3,In the passage The Mooring Mast by Marcia Amid...,1,1,1,1,1.0,2,True
4,The builders of the Empire State Building face...,3,3,3,3,3.0,6,True

In [52]:
#joblib.dump(a,'asap6_new_adjudication')

In [53]:
type(check)

numpy.ndarray

In [54]:
Counter(a['check'])

Counter({True: 1745, False: 55})

In [55]:
false_score_higher = a[a['domain1_score'] > a['higher']]
len(false_score_higher)

6

In [56]:
false_score_lower = a[a['domain1_score'] < a['higher']]
len(false_score_lower)

49